/* Replaced with bootstrap's class="px-sm-3"
body {
    padding-left: 30px;
    padding-right: 30px;
}
*/
.polyforms-feature {
    background-color: rgba(199, 221, 255, 0.5);
    border-left: 1px solid rgb(199, 221, 255);
    border-right: 1px solid rgb(199, 221, 255);
    padding: 2em;
    font-size: 18px;
    text-align: center;
}

.polyforms-settings {
	margin-top: 1em;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #eee;
}

fieldset.polyforms-fieldset {
    border: 2px groove #555;
    padding: 10px;
}

legend.polyforms-legend {
    display: inline-block;
    width: 200px;
    background-color: #777;
    color: white;
}

div.polyforms-question {
    border: 2px solid black; 
    padding: 5px;  
    margin-bottom: 15px;
}

div.polyforms-question:hover {
    border: 2px dashed black;
}

.polyforms-label {
    display: inline-block;
    margin-right: 5px;
}

.polyforms-hidden {
    display: none;
}

.polyforms-codeblock {
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    padding: 2em;
}

ul.polyforms-compact {
    margin-bottom: 0rem;
    padding-left: 20px;
}