/* Replaced with bootstrap's class="px-sm-3"
body {
    padding-left: 30px;
    padding-right: 30px;
}
*/
.feature {
    background-color: rgba(199, 221, 255, 0.5);
    border: 5px solid white;
    border-radius: 5px;
    padding: 2em;
    font-size: 18px;
    text-align: center;
}