{% extends "base.html" %}
{% block title %} About | Polyforms {% endblock %}
{% block body %}
<h1 class="mt-5">About</h1>
<div class="container mb-3">
    <div class="row">
        <div class="col-xs-6 col-lg feature">Make forms, questionarres, and surveys that look good on desktop and mobile.</div>
        <div class="col-xs-6 col-lg feature">Sharing them is as easy as just giving people a link</div>
        <div class="col-xs-6 col-lg feature">Your form and its responses are hosted online for free.</div>
        <div class="col-xs-6 col-lg feature">Polyforms was made by Andrew Wong, Gordon Lei, Micheal Cheng, and Max Zlotskiy for Stuyvesant's softdev class.</div>
    </div>
</div>
<h1>Table of Contents</h1>
<ol>
	<li><a href="#creating">How to make a form</a></li>
	<li><a href="#account">How to make an account</a></li>
	<li><a href="#sharing">How to share your form</a></li>
	<li><a href="#responses">How to see responses to your form</a></li>
    <li><a href="#api">How to use our API</a></li>
    <li><a href="#changes">What's changed about Polyforms?</a></li>
</ol>
<hr>
<a id="creating"></a>
<h2>How to make a form</h2>
<p>You'll need to make an acount first. <a href="account">Instructions here.</a> After you make an account, login. The navigation bar at the top of the page will then have a "create" link. Follow it to the form creation page. There, you should enter the form's title, choose a theme and enter a thankyou message for respondents.</p>
<p>The next task is to add questions to your form. Add as many as you like. Press the button at the bottom of the page to add questions. A box will appear with a number next to it. Put your question in there. Then, choose what type of response the question should accept. There are five supported types. You can use min and max to constrain the inputs.</p>
<p>One-line lets respondents write a single line of text. Extended response lets respondents write longer answers with linebreaks and paragraphs. Min and max control how many characters (letters, spaces, punctuation) respondents can enter.</p>
<p>Number and integer act as you would expect them to. Respondents can only put numbers as answers. Min and max are the inclusive range for numbers.</p>
<p>Choice questions let respondents choose from among a set of options. Just like a multiple choice question. Min and max control the number of choices that can be selected. Making the question required implies that the minimum value is 1. If you would like one of the choices to be recorded differently than it is displayed (eg, the form shows "Four times a week" but you want the spreadsheet to show "4"), then separate the two with a right parenthesis. It should look like this: <code>4) Four times a week</code></p>
<p>If you want a question to be optional, uncheck the required box. Otherwise, make sure it is checked.</p>
<p>When you finish creating questions, press the submit button.</p>

<a id="account"></a>
<h2>How to make an account</h2>
<p>Go to <a href="/join">the signup page</a>. There, you will be asked to choose a username, password and security question. The security question is a safeguard to make sure that only you and no one else can change your password if you need to.</p>
<p>We don't share your information with anyone. Still, please choose a secure password and avoid inputting sensitive information.</p>

<a id="sharing"></a>
<h2>How to share your form</h2>
<p>When you are logged in, click on the "my forms" link at the top. You will be presented with a list of all the forms you created. Click on the form you want to share in the list. You will be brought to the results page. Right below the title, you will see the shareable link. Right click it and then copy it to your clipboard. You can give this link to anyone on the internet.</p>
<p>If you want to stop accepting responses for your form, go to the results page (see above). Click on the dropdown menu labaled "configure," then click on "stop/resume accepting responses."</p>

<a id="responses"></a>
<h2>How to see responses to your form</h2>
<p>Log in to your account. Click on the "my forms" link at the top. Click on the form you want to see in the list. You will be brought to the results page. A table full of responses will appear. They are ordered from first to last submitted.</p>
<p>The toolbar on that page will let you download the responses. There is also a textfield in which you can type search criteria to find specific responses.</p>
<p>To let other people view responses to your form, you have to make the results publicly viewable. To do this, click on the configure dropdown menu when viewing your form. Then select the "Make results publicly viewable" menu item. You should see a message telling you that the results are public now. The link to let other people see the responses is the same one you use, in the address bar of your browser window. It should look like http://polyforms.me/form/view?id=some_number</p>
<p>If you want to make the results to your form private again, click on the same menu item in the "configure" dropdown. You should see a message telling you that the results have been made private. This means that only you can see them, even if other people have the link.</p>

<a id="api"></a>
<h2>How to use our API</h2>
<p>We are planning to expand our API capabilities in the future. For now, they're pretty rudimentary. You can only get and submit responses to a form.</p>
<p>If you want to get responses from a form, then you should first make the results public. Then, make a GET request to one of the following URLs. Make sure to substitute "id=some_number" with whatever number appears in the address bar of your browser when viewing the form.</p>
<ul>
    <li>For xml, use <code>http://polyforms.me/form/view/form.xml?id=some_number</code>. The response document will have a root tag of <code><form></code> with setions for metadata, questions and answers. The questions are each assigned a number <i>starting from 2</i>. Answers are grouped into <code><response></code> tags and then matched to questions using that number. Here is an example of what this looks like:
        <textarea disabled class="form-control" rows="28" style="font-family: monospace;">
<?xml version="1.0" encoding="UTF-8"?>
<form>
    <info>
        <title>This is my form</title>
        <owner>Your username</owner>
        <created>YYYY-MM-DD HH:MM:SS of when you created this form</created>
    </info>
    <questions>
        <question id="0">Response Index</question>
        <question id="1">When</question>
        <question id="2">What is your name?</question>
        <question id="3">Select all that apply</question>
    </questions>
    <responses>
        <response>
            <answer to="0">1</answer>
            <answer to="1">2000-01-01 12:00:00</answer>
            <answer to="2">Nobody</answer>
        </response>
        <response>
            <answer to="0">2</answer>
            <answer to="1">2000-01-01 12:01:00</answer>
            <answer to="2">Jane</answer>
            <answer to="3">I like ice cream</answer>
            <answer to="3">I like rainbow sherberts</answer>
        </response>
    </responses>
</form>
        </textarea>
    </li>
    <li>For json, use <code>http://polyforms.me/form/view/form.json?id=some_number</code>. The response document will be properly indented JSON data. At the root is a list. Every item in the list is an object with question-answer pairs. If a question allows you to select more than one answer, then its value will always be a list of answers – even if no answers were selected. Numerical responses will always have quotes around them. Here is an example of what this looks like:
        <textarea disabled class="form-control" rows="14" style="font-family: monospace;">
[
    {
        "Response Index": 1,
        "When": "2000-01-01 12:00:00",
        "What is your name?": "Nobody"
    },

    {
        "Response Index": 2,
        "When": "2000-01-01 12:01:00",
        "What is your name?": "Jane",
        "Select all that apply": ["I like ice cream", "I like rainbow sherberts"]
    }
]
        </textarea>
    </li>
    <li>For csv, use <code>http://polyforms.me/form/view/form.csv?id=some_number</code>. The response document will be a comma-separated list of values. The top row will have the questions, and every subsequent row will have answers. It should look like this:
        <textarea disabled class="form-control" rows="3" style="font-family: monospace;">
Response Index,When,What is your name?,Select all that apply
1,2000-01-01 12:00:00,Nobody,
2,2000-01-01 12:01:00,Jane,"['I like ice cream', 'I like rainbow sherbert']"
        </textarea>
    </li>
</ul>
<p>To submit a response to a form that does not require login, send a POST request to <code>http://polyforms.me/form/submit</code>. The body of this POST request should be standard url-encoded parameters. You must include a "form_id" field whose value is the id of the form (check the url for this number). Every answer should have a field name of the question number, starting at 1, and then the value should be the answer. If an error occurs, the response will not be recorded. Here is an example of what this request should look like:</p>
<textarea disabled class="form-control" rows="3" style="font-family: monospace;">
Content-Type: application/x-www-form-urlencoded

form_id=1037&1=Nobody
</textarea>
<br>

<a id="changes"></a>
<h2>What's new with Polyforms?</h2>
<p>In August 2018, we rolled out some changes to this website. Here they are:</p>
<ul>
    <li>Completely revamped the settings page. It now contains all account-relevant options, including some new ones like changing your username and deleting your account.</li>
    <li>It's now possible to edit your form with a form-editor that resembles the form-creator. Notable additions include the ability to change questions and see the configuration of your form before you change it.</li>
    <li>Added some markup support to the thankyou message on forms. You can include a link to submit responses again, see results, put your signature wherever, and show the total number of responses.</li>
    <li>The form owner can delete individual responses from the spreadsheet page</li>
    <li>You don't have to start over after filling a form out wrong. Your responses will be saved temporarily and shown along with the errors</li>
    <li>Small aesthetic changes throughout the site</li>
    <li>Fixed bugs</li>
</ul>

<br><br><br><br>
{% endblock %}