{% extends "base.html" %}
{% block title %} Form Creation | Polyforms {% endblock %}
{% block body %}<br>
    <form action="/ajax">
        Form Title: <input type="text" name="title"><br>
        Login Required? <input type="checkbox" name="loginReq">
        Public Results? <input type="checkbox" name="publicReq">
        <ol id="questionList">
        </ol>
        <button type="button" id="addButton" style="margin-bottom: 150px;">Add Question</button>
        <input type="submit">
    </form>
    <script src="{{url_for('static', filename='js/create.js')}}"></script> 
{% endblock %}
