{% extends "base.html" %}
{% block title %} Form Creation | Polyforms {% endblock %}
{% block body %}<br>
    <ol>
    <li>
	<div id="q0" style="outline: 2px dashed black; padding:5px;">

	<button id="q0b" style="position:relative; top:0; float:right;">X</button>
	Question Type:<select>
	  <option value="0">one-line response</option>
	  <option value="1">extended response</option>
	  <option value="2">numerical</option>
	  <option value="3">multiple-choice</option>
	</select><br>
	Question: <input type="text"><br>
    Max. characters: <input type="text" maxlength="4" size="3">
	</div>
	</li><br>

    <li>
    <div id="q1" style="outline: 1px solid black; padding:5px;">
    <button id="q0b" style="position:relative; top:0; float:right;">X</button>
	Question Type:<select >
	  <option value="0">one-line response</option>
	  <option value="1">extended response</option>
	  <option value="2">numerical</option>
	  <option value="3" selected>multiple-choice</option>
	</select><br>
    Question: <input type="text">
        <div>
        Answer choices:<br>
        <input type=radio name="ans1"><input type="ans1"><input type="button" value="X"><br>
        <input type=radio name="ans1"><input type="ans2"><input type="button" value="X"><br>
        <input type=radio name="ans1"><input type="text"><input type="button" value="X"><br>
        <input type=radio name="ans1"><input type="text"><br>
        </div>
    </div>
    </li>
    </ol>
    <script src="{{url_for('/static/js', filename='create.js') }}></script> 
{% endblock %}
