{% extends "base.html" %}
{% block title %} Settings | Polyforms {% endblock %}
{% block body %}<br>
	<div id="q0" style="outline: 2px dashed black;">
    <script>
		var x = document.getElementById("q0");
		x.addEventListener("focus", myFocusFunction, true);
		x.addEventListener("blur", myBlurFunction, true);

		function myFocusFunction() {
		    document.getElementById("q0").style.outline = "2px dashed black;";  
		}

		function myBlurFunction() {
		    document.getElementById("q0").style.backgroundColor = "1px solid black;";  
		}
		</script>
	Question Type:<select>
	  <option value="a">one-line response</option>
	  <option value="b">extended response</option>
	  <option value="c">numerical</option>
	  <option value="d">multiple-choice</option>
	</select><br>
	Question: <input type="text"><br>
    Max. characters: <input type="text" maxlength="4" size="1">
	</div><br>
	
    
    
    <div id="q1" style="outline: 1px solid black;">
	Question Type:<select >
	  <option value="a">one-line response</option>
	  <option value="b">extended response</option>
	  <option value="c">numerical</option>
	  <option value="d" selected>multiple-choice</option>
	</select><br>
    Question: <input type="text">
    <div>
    Answer choices:<br>
    <input type=radio name="ans1"><input type="ans1"><input type="button" value="X"><br>
    <input type=radio name="ans1"><input type="ans2"><input type="button" value="X"><br>
    <input type=radio name="ans1"><input type="text"><input type="button" value="X"><br>
    <input type=radio name="ans1"><input type="text"><br>
    </div>
</div>
{% endblock %}
