<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} | Polyforms </title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <form method="POST" action="/form/submit">
      {% for q in questions %}
        <div>
          <label for="q{{q.index}}">
	  {{q.question}}
          {% if q.type == "short" %}
            <input type="text" name="{{q.index}}">
	  {% elif q.type == "long" %}
	    <textarea name="{{q.index}}"></textarea>
	  {% elif q.type == "number" %}
	    <input type="number" name="{{q.index}}">
	  {% elif q.type == "choice" %}
	    {% for c in q.choices %}
	      <input type="checkbox" name="{{q.index}}" value="lol"> {{c}}<br>
	    {% endfor %}
	  {% endif %}
	  </label>
	</div>
      {% endfor %}
      <input type="submit" name="submit" value="Submit">	
    </form>
  </body>
</html>

