{% extends "base.html" %}
{% block title %} Home | Polyforms {% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid px-5">
    <h1 class="display-4">About Polyforms</h1>
    <p class="lead">A simple survey and graph service. Completely free.</p>
    <p class="lead"><a href="{{ url_for('about_page') }}#top" class="btn btn-info">Learn More</a></p>
</div>
<h1>Recently Created Forms</h1>
<p>So far, {{ totalForms }} forms have been made, {{ totalQ }} questions asked, and {{ totalAns }} answers submitted! Here are a few of the most recently created forms:</p>
<div class="container">
    <div class="row no-gutters">
        {% for form in forms %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ form.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by {{ form.owner }}</h6>
                    <p class="card-text">{{ form.description | truncate(50, leeway=10) }}</p>
                    <hr>
                    <p class="card-text">
                        {{ form.questions|length }} questions.
                        Login {{ "" if form.login_required else "not" }} required.
                    </p>
                    <a class="btn btn-primary" href="/form/respond?id={{form.id}}">Respond</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% endblock %}
