{% extends "base.html" %}
{% block title %} Your Forms | Polyforms {% endblock %}
{% block body %}
{% if forms_user_made|length == 0 %}
    <h1>You currently do not have any forms.</h1>
{% else %}
    <div class="container">
        {% for f in forms_user_made %}
        <a href="/form/view?id={{f.id}}" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-12 col-md">{{f.title}}</div>
                <div class="col-12 col-md-2"><span>{{f.data|length}} responses</span></div>
                <div class="col-12 col-md-2"><span>{{f['created']|dtnormal}}</span></div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
