{% extends "base.html" %}
{% block title %} Settings | Polyforms {% endblock %}
{% block body %}
<form action="/my/settings/update" method="POST">
    <fieldset style="border: 2px groove #555; padding: 10px" class="my-5">
        <legend style="display: inline-block; width: 200px; background-color: #777; color:white;" class="px-3">Settings</legend>
        <div class="form-check">
            <input id="forms_public_by_default" name="forms_public_by_default" type="checkbox" value="on" class="form-check-input">
            <label for="forms_public_by_default" class="form-check-label">Make forms public by default</label>
        </div>
        <div class="form-group mt-3">
            <input type="submit" class="form-control btn-primary" name="update" value="Update Settings">
        </div>
    </fieldset>
</form>
<div>
    <p>To change your password, click the link below. You will be logged out then sent to a page where you must input the answer to the security question you chose when making your account.</p>
    <a href="/my/settings/password" class="btn btn-link">Change Password</a>
</div>
{% endblock %}
