{% extends "base.html" %}
{% block title %} Settings | Polyforms {% endblock %}
{% block body %}
<form action="/my/settings/update" method="POST">
    <fieldset style="border: 2px groove #555; padding: 10px" class="my-5">
        <legend style="display: inline-block; width: 200px; background-color: #777; color:white;" class="px-3">Settings</legend>
        <div class="form-check">
            <input id="make_all_forms_public" name="make_all_forms_public" type="checkbox" value="on" class="form-check-input">
            <label for="make_all_forms_public" class="form-check-label">Make all of your forms submittable by anyone, even if they're not logged in (overrides previous settings)</label>
        </div>
        <div class="form-check">
            <input id="make_all_forms_result_private" name="make_all_forms_result_private" type="checkbox" value="on" class="form-check-input">
            <label for="make_all_forms_result_private" class="form-check-label">Make all of your form results private</label>
        </div>
        <div class="form-check">
            <input id="make_all_forms_private" name="make_all_forms_private" type="checkbox" value="on" class="form-check-input">
            <label for="make_all_forms_private" class="form-check-label">Make all your forms require responders to login so that they can only fill it out once (overrides previous settings)</label>
        </div>
        <div class="form-check">
            <input id="make_all_forms_result_public" name="make_all_forms_result_public" type="checkbox" value="on" class="form-check-input">
            <label for="make_all_forms_result_public" class="form-check-label">Make all of your form results public</label>
        </div>
        <div class="form-group mt-3">
            <input type="submit" class="form-control btn-primary" name="update" value="Update Settings">
        </div>
    </fieldset>
</form>
<div>
    <p>To change your password, click the link below. You will be logged out then sent to a page where you must input the answer to the security question you chose when making your account.</p>
    <a href="/my/settings/password" class="btn btn-link">Change Password</a>
</div>
{% endblock %}
