{% extends "base.html" %}
{% block title %} Settings | Polyforms {% endblock %}
{% block body %}
{% set messages = get_flashed_messages() %}
<h1 class="mt-5">Account Settings</h1>
<div class="polyforms-settings">
    <h6>Username</h6>
    {% for m in messages %}
    {% if "username" in m %}
    <div class="alert alert-danger">{{ m }}</div>
    {% endif %}
    {% endfor %}
    <form action="/my/settings/update" method="POST" class="form-inline">
        <label for="new_username">To change your username, enter a new one here then press "change"</label>
        <input type="text" name="new_username" class="form-control mx-1" id="new_username" value="{{ username }}">
        <input type="submit" name="setting" value="Change" class="form-control btn-primary mx-1">
    </form>
</div>
<div class="polyforms-settings">
    <h6>Password</h6>
    <p>To change your password, click the link below. You will be sent to a page where you have to answer the security question you chose when making your account.</p>
    <a href="/my/settings/password" class="btn btn-link">Change Password</a>
</div>
<div class="polyforms-settings">
    <h6>Delete Account</h6>
    <form action="/my/settings/update" method="POST" class="form-inline">
        <div class="row">
            <div class="col col-md-10">This will delete your account and all forms made with this account. Make sure you've made up your mind, as this can't be undone. We're sad to see you go!</div>
            <div class="col col-md"><input type="submit" name="setting" value="Delete" class="form-control btn-danger"></div>
        </div>
    </form>
</div>
{% endblock %}
