{% extends "base.html" %}
{% block title %}Signup | Polyforms {% endblock %}
{% block body %}
<div class="m-sm-3 m-md-3 m-lg-4 m-xl-5">
    {% set messages = get_flashed_messages() %}
    <h1>Make An Account</h1>
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <form action="/join/verify" method="POST">
        <div class="form-group">
	    <label for="username1">Account name</label>
            <input type="text" name="username1" placeholder="username" class="form-control">
            <input type="text" name="username2" placeholder="confirm username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
	    <input type="password" name="password1" placeholder="password" class="form-control">
	    <input type="password" name="password2" placeholder="confirm password" class="form-control">
        </div>
        <div class="form-group">
            <label for="question">Select a security question and answer it. These will be used when changing your password.</label>
    	    <select name="question" class="form-control">
    	        <option value="What was the name of your first pet?" selected="selected">What was the name of your first pet?</option>
    	        <option value="What was your mother's maiden name?">What was your mother's maiden name?</option>
    	        <option value="What is your favorite color?">What is your favorite color?</option>
    	        <option value="What is the name of the school you most recently attended?">What is the name of the school you most recently attended?</option>
    	    </select>
	        <input type="text" name="answer" placeholder="answer the security question here" class="form-control">
	    </div>
        <input type="submit" name="submit" value="Join" class="form-control btn btn-primary btn-block">
    </form>
</div>
{% endblock %}
