{% extends "base.html" %}
{% block title %} {{title}} | Polyforms {% endblock %}
{% block body %}
{% set number_cols = headers | length %}
<div class="row">
  <div class="col-12 col-md-2">
    <h1>{{title}}</h1>
  </div>
  <div class="col-12 col-sm">
    <button class="btn btn-primary" id="chartDialogToggler">Make A Chart</button>
  </div>
  <div class="col-12 col-sm-6">
    <input type="text" id="filter" class="form-control" placeholder="filter...">
  </div>
</div>
<table class="table table-sm table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>Response Index</th>
      {% for col in headers %}<th>{{ col }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      {% for cell in row %}<td>{{cell}}</td>{% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
