{% extends "base.html" %}
{% block title %} {{title}} | Polyforms {% endblock %}
{% block body %}
<div id="wowie"></div>
<!-- This is the toolbar for the spreadsheet. Includes form title, make chart button, and filter input box -->
<div class="row my-3">
  <div class="col mb-1">
    <h1>{{title}}</h1>
    Shareable link: <a href="/f/{{form_id}}">{{url_for("display_form_shortcut", form_id=form_id)}}</a>
  </div>
  <div class="w-100"></div>
  <div class="col-12 col-md-7 col-lg-6 order-last order-md-2">
    <div class="btn-group" role="group">
      <div class="button-group" role="group">
        <button class="btn btn-secondary dropdown-toggle" id="downloadMenuToggler" data-toggle="dropdown" type="button">Download</button>
        <div class="dropdown-menu" aria-labelledby="downloadMenuToggler">
          <a class="dropdown-item" href="/form/view/form.csv?id={{form_id}}">CSV</a>
          <a class="dropdown-item" href="/form/view/form.json?id={{form_id}}">JSON</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-secondary dropdown-toggle" id="chartMenuToggler" data-toggle="dropdown" type="button">Make A Chart</button>
        <div class="dropdown-menu" aria-labelledby="chartMenuToggler">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#pieModal">Pie Chart</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#lineModal">Line Chart</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#barModal">Bar Chart</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#histModal">Histogram</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#plotModal">Scatter Plot</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-secondary dropdown-toggle" id="configureMenuToggler" data-toggle="dropdown" type="button">Configure</button>
        <div class="dropdown-menu" aria-labelledby="configureMenuToggler">
          <a class="dropdown-item" href="#" id="cew">Make columns equal width</a>
          <a class="dropdown-item" href="/form/toggle?id={{form_id}}&amp;setting=basic">Change theme to basic</a>
          <a class="dropdown-item" href="/form/toggle?id={{form_id}}&amp;setting=light">Change theme to light</a>
          <a class="dropdown-item" href="/form/toggle?id={{form_id}}&amp;setting=dark">Change theme to dark</a>
          <a class="dropdown-item" href="/form/toggle?id={{form_id}}&amp;setting=public">Make results publicly viewable</a>
          <a class="dropdown-item" href="/form/toggle?id={{form_id}}&amp;setting=open">Stop/resume accepting responses</a>
          <a class="dropdown-item" href="/form/toggle?id={{form_id}}&amp;setting=delete">Delete form</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md order-2 order-md-last">
    <input type="search" id="filter" class="form-control" placeholder="start typing filter criteria and rows that don't match will disappear">
  </div>
</div>

<!-- The actual table showing form results as rows. The outer div is for scrolling. -->
<div class="table-responsive">
  <table class="table table-bordered table-hover" id="responsesTable">
    <thead class="thead-dark">
      <tr id="columns">
        <th>Response Index</th>
        {% for columnName in headers %}<th>{{ columnName }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        {% for cell in row %}<td>{{cell|replace(",", ", ")}}</td>{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- These modal dialogs are hidden by default -->
<div class="modal fade" id="pieModal" tabindex="-1" role="dialog" aria-labelledby="pieModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pieModalLabel">Pie Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        To make a new pie chart, please fill out the fields below. The dropdown menu lists the questions in your form as options.
        Select one to use as the frequency data for the pie chart. This works best with questions that ask the user to pick one
        from several options.
        <hr>
        <form id="pie-form">
          <div class="form-group">
            <label for="thing2">X-axis:</label>
            <select class="form-control" id="pieColumn" name="x">
              <option value="0">Response Index</option>
              {% for columnName in headers %}
              <option value="{{loop.index}}">{{columnName}}</option>
              {% endfor %}
            </select>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-primary" href="#" data-dismiss="modal" data-toggle="modal" data-target="#chartModal" onclick="makePieChart()">Make Chart</a>
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="plotModal" tabindex="-1" role="dialog" aria-labelledby="plotModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="plotModalLabel">Scatter Plot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        To make a new scatter plot, please fill out the fields below. The dropdown menus list the questions in your form as options.
        Select one to use as an x-axis, and then one as a y-axis. Both axes must be numerical.
        <hr>
        <form id="plot-form">
          <div class="form-group">
            <label for="plotX">X Axis:</label>
            <select class="form-control" id="plotX" name="f">
              {% for columnName in headers %}
              <option value="{{loop.index}}">{{columnName}}</option>
              {% endfor %}
            </select>
            <label for="plotY">Y Axis:</label>
            <select class="form-control" id="plotY" name="f">
              {% for columnName in headers %}
              <option value="{{loop.index}}">{{columnName}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-primary" href="#" data-dismiss="modal" data-toggle="modal" data-target="#chartModal" onclick="makeScatterChart()">Make Chart</a>
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="pieModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chartModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="chart"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lineModal" tabindex="-1" role="dialog" aria-labelledby="lineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lineModalLabel">Line Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        To make a new line chart, please fill out the fields below. The dropdown menus list the questions in your form as options.
        Select one to use as an x-axis, and then one as a y-axis. It is best if the y-axis data is numerical. 
        <hr>
        <form>
          <div class="form-group">
            <label for="thing2">X-axis:</label>
            <select class="form-control" id="thing2" name="x">
              <option value="0">Response Index</option>
              {% for columnName in headers %}
              <option value="{{loop.index}}">{{columnName}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="thing2a">Y-Axis:</label>
            <select class="form-control" id="thing2a" name="y">
              <option value="0">Response Index</option>
              {% for columnName in headers %}
              <option value="{{loop.index}}">{{columnName}}</option>
              {% endfor %}
            </select>
          </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-primary" href="#" data-dismiss="modal" data-toggle="modal" data-target="#chartModal" onclick="makeLineChart()">Make Chart</a>
      </div>
    
        </form>
      </div>
      </div>
  </div>
</div>

<div class="modal fade" id="barModal" tabindex="-1" role="dialog" aria-labelledby="barModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="barModalLabel">Bar Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        To make a new line chart, please fill out the fields below. The dropdown menus list the questions in your form as options.
        Select one to use as an x-axis, and then one as a y-axis. The y-axis data must be numerical. If a free-response question
        is chosen, the length of the response will be used as its numerical representation. 
        <hr>
        <form>
          <div class="form-group">
            <label for="thing3">X-axis:</label>
            <select class="form-control" id="thing3" name="x">
              {% for columnName in headers %}
              <option value="{{loop.index}}">{{columnName}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input class="form-check-input" type="checkbox" name="order" value="height" id="thing3b">
            <label class="form-check-label" for="thing3b">Order bars by height from shortest to tallest?</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-primary" href="#" data-dismiss="modal" data-toggle="modal" data-target="#chartModal" onclick="makeBarChart()">Make Chart</a>
          </div>
        </form>
      </div>    
    </div>
  </div>
</div>


<script type="text/javascript">
var mydata = {{ data|tojson }};
console.log({{headers|tojson}})
console.log(mydata)
function makePieChart(){
  var column = document.getElementById("pieColumn").value - 1;
  d3.select("#chartModalLabel").text({{headers|safe}}[column]);
  var counts = {};
  for (var i = 0; i < mydata.length; i++) {
    if(mydata[i][column] in counts){
      counts[mydata[i][column]]++;
    }
    else{
      counts[mydata[i][column]] = 1;
    }
  }
  //console.log(counts);
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      json: counts,
      type: 'pie'
    },
    size: {
      width: 400,
      height: 400
    },
    pie: {
      label: {
        show: false
      }
    }
  });
};

function makeBarChart(){
  var x = document.getElementById("thing3").value - 1;
  d3.select("#chartModalLabel").text({{headers|safe}}[x]);
  var counts = {};
  for (var i = 0; i < mydata.length; i++) {
    if(mydata[i][x] in counts){
      counts[mydata[i][x]]++;
    }
    else{
      counts[mydata[i][x]] = 1;
    }
  }
  //console.log(counts);
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      json: counts,
      type: 'bar',
    },
    size: {
      width: 400,
      height: 400
    },
    axis:{
      x:{
        type:'category'
      }
    }   
  });
};

function makeLineChart(){
  var x = document.getElementById("thing2").value - 1;
  var y = document.getElementById("thing2a").value - 1;
  var xLabels = ['x'];
  var data = [{{headers|tojson}}[x]];
  console.log(data);
  for(var i = 0; i < mydata.length; i++){
    xLabels.push(mydata[i][x])
    data.push(mydata[i][y])
  }
  console.log(xLabels);
  console.log(data)
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      x: 'x',
      columns: [xLabels, data]
    },
    size: {
      width: 400,
      height: 400
    },
    axis: {
        x: {
            type: 'category' // this needed to load string x value
        }
    }
  });  
}

function makeScatterChart(){
  var x = document.getElementById("plotX").value - 1;
  var y = document.getElementById("plotY").value - 1;
  var xLabels = ['x'];
  var data = ["y"];
  console.log(data);
  for(var i = 0; i < mydata.length; i++){
    xLabels.push(mydata[i][x])
    data.push(mydata[i][y])
  }
  console.log(xLabels);
  console.log(data)
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      x: 'x',
      columns: [xLabels, data],
      type: "scatter"
    },
    size: {
      width: 400,
      height: 400
    },
    axis: {
        x: {
            type: 'category' // this needed to load string x value
        }
    }
  });  
};

var activateToolbar = function() {
  /* Attach event listeners to the filter search bar */
  var filter = document.getElementById("filter");
  //Select all <tr> elements in the table
  var rows = d3.select("#responsesTable").selectAll("tbody tr");
  //This event happens whenever you type in the search bar
  filter.addEventListener("input", function(evt) {
    filterText = filter.value;
    rows.style("display", function(d, i) {
      for(var i = 0; i < this.children.length; i++) {
        if(this.children[i].innerHTML.indexOf(filterText) != -1) {
          return "table-row";
        }
      }
      return "none";
    });
  });

  /* Make columns equal width */
  document.getElementById("cew").addEventListener("click", function() {
    d3.select("#columns").selectAll("th").style("width", "400px");
  });
};

activateToolbar();
</script>
{% endblock %}
